<template>
    <div>
         <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="确认订单" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
            <!-- 导航切换 -->
            <div class="menuTab">
                  <ul>
                    <li v-for='(item,index) in items' :key="index" :class="{active:istrue!=index}" @click="istrue=index">
                        <img v-if="istrue==index" :src="item.activeIcon" style="width: 17px; height: 13px;">
                        <img v-else style="width: 17px; height: 13px;" :src="item.icon">
                    <span>{{ item.name }}</span>
                    </li>
                </ul>
                 </div>
            </div>
            <!-- 内容 -->
            <!-- 门店组曲 -->
            <div class="centerK" v-if="active=istrue">
                 <div class="shouhuoinformation">
                     <div class="leftK">
                         <div class="topK">
                             <p>门店自提</p>
                         </div>
                         <div class="bottomK">
                             <p>浙江台州玉环市双港路420-10号</p>
                         </div>
                     </div>
                     <div class="rightK">
                         <!-- 这个地方去选择门店 -->
                         <img src="../../../static/image/order/youjiantou.png" alt="" style="width:8px;height:14px">
                     </div>
                </div>
                 <!-- 商品专情 -->
                 <div class="goodsinformation">
                      <div class="upbox">
                          <div class="upBoxL">
                              <img src="../../../static/image/index/shop1.png" style="width:44px;height:80px" alt="">
                              <div class="jieshao">
                                  <p class="jieshao1">准野生紫灵芝片</p>
                                  <p class="ping">/瓶</p>
                              </div>
                          </div>
                          <div class="upBoxR">
                              <div class="coin">
                                  <p class="one">¥200.00</p>
                                  <p class="two">¥100.00/积分200</p>
                                  <p class="three">x1</p>
                              </div>
                          </div>
                      </div>
                      <!-- 备注和运费 -->
                      <div class="nickName">
                          <p>
                              备注
                              <input type="text" placeholder="您没有留言！">
                          </p>
                          <p>
                              运费<span>¥10.00</span>
                          </p>
                          <!-- 合计 -->
                          <p class="all">
                              共一件商品
                              合计：
                               <span>¥110.00</span>
                          </p>
                      </div>
                 </div>
                 <!--  余额支付-->
                 <div class="yue">
                     <van-radio-group v-model="radio">
                        <van-cell-group>
                            <van-cell title="余额支付(¥8766)" clickable @click="radio = '1'">
                                 <span class="red">-¥110.00</span>
                            <van-radio slot="right-icon" name="1" />
                            </van-cell>
                        </van-cell-group>
                        </van-radio-group>
                 </div>
                 <!-- 积分支付 -->
                 <div class="jifen">
                     <van-radio-group v-model="radio">
                        <van-cell-group>
                            <van-cell title="积分支付(34545)" clickable @click="radio = '2'">
                               
                            <van-radio slot="right-icon" name="2" />
                            </van-cell>
                        </van-cell-group>
                        </van-radio-group>
                 </div>
                 <!-- 在线支付 -->
                 <div class="online">
                      <van-radio-group v-model="radio">
                        <van-cell-group>
                            <van-cell title="在线支付" clickable @click="radio = '3'">
                            <van-radio slot="right-icon" name="3" />
                            </van-cell>
                        </van-cell-group>
                        </van-radio-group>
                 </div>
                 <!-- 提交订单 -->
                 <div class="submitOrder">
                   <p>需支付：<span>¥0.00</span></p>
                   <button>提交订单</button>
                 </div>
            </div>
            <!-- 快递配送 -->
            <div class="centerK" v-else>
                <!-- 收获信息 -->
                <div class="shouhuoinformation">
                     <div class="leftK">
                         <div class="topK">
                             <p>收货人：李元芳</p>
                             <p>18888888888</p>
                         </div>
                         <div class="bottomK">
                             <p>浙江省杭州市萧山区广孚国际联合中心220</p>
                         </div>
                     </div>
                     <div class="rightK">
                         <img src="../../../static/image/order/youjiantou.png" alt="" style="width:8px;height:14px">
                     </div>
                </div>
                 <!-- 商品专情 -->
                 <div class="goodsinformation">
                      <div class="upbox">
                          <div class="upBoxL">
                              <img src="../../../static/image/index/shop1.png" style="width:44px;height:80px" alt="">
                              <div class="jieshao">
                                  <p class="jieshao1">准野生紫灵芝片</p>
                                  <p class="ping">/瓶</p>
                              </div>
                          </div>
                          <div class="upBoxR">
                              <div class="coin">
                                  <p class="one">¥200.00</p>
                                  <p class="two">¥100.00/积分200</p>
                                  <p class="three">x1</p>
                              </div>
                          </div>
                      </div>
                      <!-- 备注和运费 -->
                      <div class="nickName">
                          <p>
                              备注
                              <input type="text" placeholder="您没有留言！">
                          </p>
                          <p>
                              运费<span>¥10.00</span>
                          </p>
                          <!-- 合计 -->
                          <p class="all">
                              共一件商品
                              合计：
                               <span>¥110.00</span>
                          </p>
                      </div>
                 </div>
                 <!--  余额支付-->
                 <div class="yue">
                     <van-radio-group v-model="radio">
                        <van-cell-group>
                            <van-cell title="余额支付(¥8766)" clickable @click="radio = '1'">
                            <van-radio slot="right-icon" name="1" />
                            </van-cell>
                        </van-cell-group>
                        </van-radio-group>
                 </div>
                 <!-- 积分支付 -->
                 <div class="jifen">
                     <van-radio-group v-model="radio">
                        <van-cell-group>
                            <van-cell title="积分支付(34545)" clickable @click="radio = '2'">
                                <span class="red">-200</span>
                            <van-radio slot="right-icon" name="2" />
                            </van-cell>
                        </van-cell-group>
                        </van-radio-group>
                 </div>
                 <!-- 在线支付 -->
                 <div class="online">
                      <van-radio-group v-model="radio">
                        <van-cell-group>
                            <van-cell title="在线支付" clickable @click="radio = '3'">
                            <van-radio slot="right-icon" name="3" />
                            </van-cell>
                        </van-cell-group>
                        </van-radio-group>
                 </div>
                 <!-- 提交订单 -->
                 <div class="submitOrder">
                   <p>需支付：<span>¥10.00</span></p>
                   <button>提交订单</button>
                 </div>
            </div>
        </div>
    
</template>
<script>
import { Field,Icon,NavBar,Tab, Tabs,RadioGroup, Radio,Cell,CellGroup } from 'vant';
import Kicon from '../../../static/image/order/Korder1.png'
import KiconA from '../../../static/image/order/Korder.png'
import Micon from '../../../static/image/order/Morder.png'
import MiconA from '../../../static/image/order/Morder1.png'
export default {
    data(){
        return{
             istrue: 0,
             radio:'1',
                items: [
                    {
                        name:'快递配送',
                        icon:Kicon,
                        activeIcon: KiconA,
                        id:1
                    },
                    {
                        name:'门店自提',
                        icon:Micon,
                        activeIcon: MiconA,
                        id:2
                    },
            ]
        }
    },
    methods:{
           active(index){               
           this.actives = index;
    }
      },
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar,
        [Tab.name]:Tab,
        [Tabs.name]:Tabs,
         [RadioGroup.name]:RadioGroup,
        [Radio.name]:Radio,
        [Cell.name]:Cell,
        [CellGroup.name]:CellGroup
    },
    created(){
        this.$parent.hideNav = true
    }
  
}
</script>
<style lang="less" scope>

.title{
    position: fixed;
    width: 100%;
}
 .active {
        color: #DDDDDD;
    }
    .menuTab{
        width: 100%;
        height: 30px;
        line-height: 30px;
        background-color: #333333;
        & > ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 0.12rem;
        color: #F3C9A3
        }
    }
    
.van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
        margin-bottom: 0.2rem;
    }
    // 快递配送
    .centerK{
        overflow: hidden;
        height: 100vh;
        background-color: #FAFAFA;
        padding: 88px 20px 12px 20px;
    }
    // 收获信息
    .shouhuoinformation{
        background:linear-gradient(103deg,rgba(251,224,200,1) 0%,rgba(237,199,164,1) 100%);
        border-radius:4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 12px;
    }
    .leftK{
        display: flex;
        flex-direction: column;
        font-size: 0.14rem;
        color: #333333;
    }
    .topK{
       display: flex;
       justify-content: space-between;
       margin-bottom: 10px;
    }
    .bottomK{
        & > p{
            font-size: 0.14rem;
            color: #333333;
        }
    }
    .rightK{
        display: flex;
        align-items: center;
    }
//    商品详情
.goodsinformation{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 12px;
}
.upbox{
    display: flex;
    justify-content: space-between;
}
.upBoxL{
    display: flex;
    & > img{
        margin-right: 0.26rem;
    }
}
.upBoxR{
    display: flex;
    justify-content: space-between
}
.jieshao{
    & > .jieshao1{
        font-size: 0.14rem;
        color: #333333;
        margin-bottom: 0.24rem;
    }
    & > .ping{
        font-size: 0.12rem;
        color: #666666
    }
}
.coin{
    text-align: right;
    & > .one{
        font-size: 0.10rem;
        color: #999999;
        text-decoration: line-through
    }
     & > .two{
        font-size: 0.12rem;
        color: #333333;
    }
     & > .three{
        font-size: 0.12rem;
        color: #666666;
        margin-top: 0.08rem;
    }
}
// 备注和运费
.nickName{
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;
    & > p{
        font-size: 0.12rem;
        color: #666666;
        & > input{
            color: #999999;
            font-size: 0.12rem
        }
        & > span{
            margin-left: 10px;
        }
    }
    & > .all{
        text-align: right;
        font-size: 0.12rem;
        color: #666666;
        & > span{
            font-size: 0.14rem;
            color: #333333
        }
    }
}
// 余额支付
.yue,.jifen{
    margin-bottom: 12px;
}
.van-radio__icon{
    font-size: 0.14rem;
}
.van-radio__icon--checked .van-icon{
    color: #333333;
    background-color: #F3C9A3;
    border-color: #F3C9A3;
}
.van-cell__title{
    color: #666666;
}
.red{
    margin-right: 12px;
    color: #E02020;
    font-size: 14px;
}
// 提交订单
.submitOrder{
    width: 3.55rem;
    background:rgba(255,255,255,1);
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > p{
        font-size: 0.12rem;
        color: #666666;
        & > span{
            font-size: 0.18rem;
            color: #333333;
        }
    }
    & > button{
        width: 1rem;
        height: 0.44rem;
        background:rgba(194,150,111,1);
        font-size: 0.16rem;
        color: #ffffff;
        border: none;
    }
}
</style>

