<template>
    <div>
          <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="订单详情" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        <!-- 标签页 -->
        <van-tabs v-model="active">
            <van-tab title="全部">
                <div class="center">
                     <!-- 商品专情 1-->
                 <div class="goodsinformation">
                          <!-- 订单编号和状态 -->
                          <div class="status">
                               <p class="haoma">订单编号：188882 copy</p>
                               <p class="zhuang">待付款</p>
                          </div>
                      <div class="upbox">
                          <div class="upBoxL">
                              <img src="../../../static/image/index/shop1.png" style="width:44px;height:80px" alt="">
                              <div class="jieshao">
                                  <p class="jieshao1">准野生紫灵芝片</p>
                                  <p class="ping">/瓶</p>
                              </div>
                          </div>
                          <div class="upBoxR">
                              <div class="coin">
                                  <p class="one">¥200.00</p>
                                  <p class="two">¥100.00/积分200</p>
                                  <p class="three">x1</p>
                              </div>
                          </div>
                      </div>
                      <!-- 备注和运费 -->
                      <div class="nickName">
                          <p>备注
                              <input type="text" placeholder="您没有留言！">
                          </p>
                          <div class="feiyong">
                              <p class="one">运费<span>¥10.00</span></p>
                              <p class="two">共1件商品 合计：<span>¥1029.00</span></p>
                          </div>
                      </div>
                      <!-- 按钮 -->
                        <div class="btn">
                            <button class="del">取消订单</button>
                            <button class="pay">去支付</button>
                        </div>
                        </div>
                 <!-- 商品专情 2-->
                 <div class="goodsinformation">
                          <!-- 订单编号和状态 -->
                          <div class="status">
                               <p class="haoma">订单编号：188882 copy</p>
                               <p class="zhuang">已取消</p>
                          </div>
                      <div class="upbox">
                          <div class="upBoxL">
                              <img src="../../../static/image/index/shop1.png" style="width:44px;height:80px" alt="">
                              <div class="jieshao">
                                  <p class="jieshao1">准野生紫灵芝片</p>
                                  <p class="ping">/瓶</p>
                              </div>
                          </div>
                          <div class="upBoxR">
                              <div class="coin">
                                  <p class="one">¥200.00</p>
                                  <p class="two">¥100.00/积分200</p>
                                  <p class="three">x1</p>
                              </div>
                          </div>
                      </div>
                      <!-- 备注和运费 -->
                      <div class="nickName">
                          <p>备注
                              <input type="text" placeholder="您没有留言！">
                          </p>
                          <div class="feiyong">
                              <p class="one">运费<span>¥10.00</span></p>
                              <p class="two">共1件商品 合计：<span>¥1029.00</span></p>
                          </div>
                      </div>
                      <!-- 按钮 -->
                        <div class="btn">
                            <button class="del">删除订单</button>
                            <button class="pay">重新购买</button>
                        </div>
                        </div> 
                        <!-- 商品专情 3-->
                 <div class="goodsinformation">
                          <!-- 订单编号和状态 -->
                          <div class="status">
                               <p class="haoma">订单编号：188882 copy</p>
                               <p class="zhuang">待发货</p>
                          </div>
                      <div class="upbox">
                          <div class="upBoxL">
                              <img src="../../../static/image/index/shop1.png" style="width:44px;height:80px" alt="">
                              <div class="jieshao">
                                  <p class="jieshao1">准野生紫灵芝片</p>
                                  <p class="ping">/瓶</p>
                              </div>
                          </div>
                          <div class="upBoxR">
                              <div class="coin">
                                  <p class="one">¥200.00</p>
                                  <p class="two">¥100.00/积分200</p>
                                  <p class="three">x1</p>
                              </div>
                          </div>
                      </div>
                      <!-- 备注和运费 -->
                      <div class="nickName">
                          <p>备注
                              <input type="text" placeholder="您没有留言！">
                          </p>
                          <div class="feiyong">
                              <p class="one">运费<span>¥10.00</span></p>
                              <p class="two">共1件商品 合计：<span>¥1029.00</span></p>
                          </div>
                      </div>
                      <!-- 按钮 -->
                        <div class="btn">
                            <button class="del kan">查看物流</button>
                            <button class="pay">确认收货</button>
                        </div>
                        </div>
                          <!-- 商品专情 4-->
                 <div class="goodsinformation">
                          <!-- 订单编号和状态 -->
                          <div class="status">
                               <p class="haoma">订单编号：188882 copy</p>
                               <p class="zhuang">待收货</p>
                          </div>
                      <div class="upbox">
                          <div class="upBoxL">
                              <img src="../../../static/image/index/shop1.png" style="width:44px;height:80px" alt="">
                              <div class="jieshao">
                                  <p class="jieshao1">准野生紫灵芝片</p>
                                  <p class="ping">/瓶</p>
                              </div>
                          </div>
                          <div class="upBoxR">
                              <div class="coin">
                                  <p class="one">¥200.00</p>
                                  <p class="two">¥100.00/积分200</p>
                                  <p class="three">x1</p>
                              </div>
                          </div>
                      </div>
                      <!-- 备注和运费 -->
                      <div class="nickName">
                          <p>备注
                              <input type="text" placeholder="您没有留言！">
                          </p>
                          <div class="feiyong">
                              <p class="one">运费<span>¥10.00</span></p>
                              <p class="two">共1件商品 合计：<span>¥1029.00</span></p>
                          </div>
                      </div>
                      <!-- 按钮 -->
                        <div class="btn">
                            <button class="del kan">查看物流</button>
                            <button class="pay">确认收货</button>
                        </div>
                        </div>
                          <!-- 商品专情 5-->
                 <div class="goodsinformation">
                          <!-- 订单编号和状态 -->
                          <div class="status">
                               <p class="haoma">订单编号：188882 copy</p>
                               <p class="zhuang">已完成</p>
                          </div>
                      <div class="upbox">
                          <div class="upBoxL">
                              <img src="../../../static/image/index/shop1.png" style="width:44px;height:80px" alt="">
                              <div class="jieshao">
                                  <p class="jieshao1">准野生紫灵芝片</p>
                                  <p class="ping">/瓶</p>
                              </div>
                          </div>
                          <div class="upBoxR">
                              <div class="coin">
                                  <p class="one">¥200.00</p>
                                  <p class="two">¥100.00/积分200</p>
                                  <p class="three">x1</p>
                              </div>
                          </div>
                      </div>
                      <!-- 备注和运费 -->
                      <div class="nickName">
                          <p>备注
                              <input type="text" placeholder="您没有留言！">
                          </p>
                          <div class="feiyong">
                              <p class="one">运费<span>¥10.00</span></p>
                              <p class="two">共1件商品 合计：<span>¥1029.00</span></p>
                          </div>
                      </div>
                      <!-- 按钮 -->
                        <div class="btn">
                            <button class="del kan">查看物流</button>
                            <button class="pay">再次购买</button>
                        </div>
                        </div>
                </div>
            </van-tab>
            <van-tab title="待付款">内容 2</van-tab>
            <van-tab title="待收货">内容 3</van-tab>
            <van-tab title="待评价">内容 4</van-tab>
        </van-tabs>
        </div>
    </div>
</template>
<script>
import { Field,Icon,NavBar,Tab, Tabs } from 'vant';
export default {
    data(){
        return{
           active: 0
        }
    },
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar,
        [Tab.name]:Tab,
        [Tabs.name]:Tabs
    },
    created(){
        this.$parent.hideNav = true
    }
    
}
</script>
<style lang="less" scope>
    .van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    .van-tabs__nav{
        background-color: #333333;
    }
    [class*=van-hairline]::after{
       border:none
    }
    .van-tab{
        font-size: 0.12rem;
        color: #DDDDDD;
    }
    .van-tab--active{
        font-size: 0.12rem;
        color: #F3C9A3;
    }
    .van-tabs__line{
        width:0.24rem;
        height:0.02rem;
        background:rgba(243,201,163,1);
        border-radius:1px;
    }
    // 全部
    .center{
        // height: 100vh;
        padding: 0.1rem 0.2rem;
        background-color: #FAFAFA;
    }
     //    商品详情
.goodsinformation{
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    margin-bottom: 12px;
}
.upbox{
    display: flex;
    justify-content: space-between;
}
.upBoxL{
    display: flex;
    & > img{
        margin-right: 0.26rem;
    }
}
.upBoxR{
    display: flex;
    justify-content: space-between
}
.jieshao{
    & > .jieshao1{
        font-size: 0.14rem;
        color: #333333;
        margin-bottom: 0.24rem;
    }
    & > .ping{
        font-size: 0.12rem;
        color: #666666
    }
}
.coin{
    text-align: right;
    & > .one{
        font-size: 0.10rem;
        color: #999999;
        text-decoration: line-through
    }
     & > .two{
        font-size: 0.12rem;
        color: #333333;
    }
     & > .three{
        font-size: 0.12rem;
        color: #666666;
        margin-top: 0.08rem;
    }
}
// 备注和运费
.nickName{
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;
    & > p{
        font-size: 0.12rem;
        color: #666666;
        & > input{
            color: #999999;
            font-size: 0.12rem
        }
        & > span{
            margin-left: 10px;
        }
    }
    & > .feiyong{
        display: flex;
        justify-content: space-between;
        & > .one{
            font-size: 0.12rem;
            color: #666666;
        }
        & > .two{
            font-size: 0.12rem;
            color: #666666;
            & > span{
                font-size: 0.14rem;
                  color: #333333;
            }
        }
    }
}
// 订单编号和状态
.status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.15rem;
    & > .haoma{
        font-size: 0.12rem;
        color: #666666;
    }
    & > .zhuang{
        font-size: 0.12rem;
        color: #693F34;
    }
}
// 按钮
.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.2rem;
    & > .del{
        width: 0.72rem;
        height: 0.28rem;
        border-radius:4px;
        border:1px solid rgba(153,153,153,1);
        font-size: 0.14rem;
        color: #666666;
        background-color: #fff;
    }
    & > .pay{
        width: 0.72rem;
        height: 0.28rem;
        border-radius:4px;
        font-size: 0.14rem;
        color: #ffffff;
        background: rgba(51,51,51,1);
        border:none;
        margin-left: 0.08rem;
    }
    & > .kan{
        width: 0.72rem;
        height: 0.28rem;
        border-radius:4px;
        font-size: 0.14rem;
        color: #333333;
        background:rgba(243,201,163,1);
        border:none;
        margin-left: 0.08rem;
    }
}
</style>

