<template>
    <div>
         <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="扫码支付" left-arrow>
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 二维码 -->
        <div class="code">
           <div class="ercode">
               <div class="centerC">
             <p class="sao">扫一扫 立刻付款</p>
             <p class="chang">长按图片保存相册</p>
             <div class="fang"></div>
             <p class="bao">保存图片后使用支付宝/微信扫一扫， 选择相册图片即可完成支付。</p></div>
           </div>
        </div>
    </div>
</template>
<script>
import { Field,Icon,NavBar } from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
    created(){
        this.$parent.hideNav = true
    }
}
</script>
<style lang="less" scope>
    .van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    // 二维码
    .code{
        background: url('../../../static/image/login/bgc.png') no-repeat;
        // width: 100vw;
        height:100vh;
        background-size: 100% 100%;
        padding: 0.2rem;
        & > .ercode{
            height:4.62rem;
            background: url('../../../static/image/login/code.png') no-repeat;
            background-size: cover;
            & > .centerC{
            padding: 1.2rem 0;
              & > .sao{
                display: flex;
                justify-content: center;
                font-size: 0.18rem;
                color: #333333;
                margin-bottom: 0.11rem;
            }
            & > .chang{
                display: flex;
                justify-content: center;
                font-size: 0.16rem;
                color: #999999;
                margin-bottom: 0.34rem;
            }
            & > .fang{
                display: flex;
                justify-content: center;
                width: 1.8rem;
                height: 1.8rem;
                background:rgba(216,216,216,1);
                margin: 0 auto 0.24rem auto
            }
            & > .bao{
                text-align: center;
                font-size: 0.14rem;
                color: #999999;
                margin: 0 0.5rem;
            }
            }
            
        }
    }
</style>

