<template>
    <div>
         <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="付款页面" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 内容区域 -->
        <div class="paycenter">
            <div><img src="../../../static/image/order/fukuanc.png" alt=""></div>
            <p>付款成功！</p>
        </div>
        <!-- 按钮组 -->
        <button class="order">查看订单</button>
        <button class="carry">继续购买</button>
    </div>
</template>
<script>
import { Field,Icon,NavBar, RadioGroup, Radio,Cell,CellGroup} from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar,
        [RadioGroup.name]:RadioGroup,
        [Radio.name]:Radio,
        [Cell.name]:Cell,
        [CellGroup.name]:CellGroup
    },
    created(){
        this.$parent.hideNav = true
    }
}
</script>
<style lang="less">
.van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    .van-cell__title{
        font-size: 0.14rem;
        color: #333333;
    }
    // 内容
    .paycenter{
        width: 100%;
        height: 2.38rem;
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0.4rem;
        & > div{
           margin-bottom: 10px;
           display: flex;
        }
        & > p{
            width: 100%;
            font-size: 0.14rem;
            color: #F3C9A3;
            display: flex;
            justify-content: center;
            padding-left: 10px;
        }
    }
    // 按钮组
    .order{
        margin: 0 0.4rem 0.12rem 0.4rem;
        height: 0.44rem;
        background:rgba(243,201,163,1);
        border-radius:8px;
        font-size: 0.16rem;
        color: #333333;
        border:none;
    }
    .carry{
        margin: 0 0.4rem;
        height: 0.44rem;
        background:rgba(51,51,51,1);
        border-radius:8px;
        font-size: 0.16rem;
        color: #ffffff;
        border:none;
    }
</style>

