<template>
    <div>
         <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="订单详情" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 内容 -->
        <div class="fukuan">
          <p class="qian">待收货</p>
          <p>
              <span> 快递公司：无</span>
              <span>快递单号：无</span>
          </p>
        </div>
        <!-- 再来一个内容 -->
        <div class="centerF">
           <div class="shouhuoinformation">
                     <div class="leftK">
                         <div class="topK">
                             <p>收货人：李元芳</p>
                             <p>18888888888</p>
                         </div>
                         <div class="bottomK">
                             <p>浙江省杭州市萧山区广孚国际联合中心220</p>
                         </div>
                     </div>
                     </div>
                     <!-- 商品专情 -->
                 <div class="goodsinformation">
                      <div class="upbox">
                          <div class="upBoxL">
                              <img src="../../../static/image/index/shop1.png" style="width:44px;height:80px" alt="">
                              <div class="jieshao">
                                  <p class="jieshao1">准野生紫灵芝片</p>
                                  <p class="ping">/瓶</p>
                              </div>
                          </div>
                          <div class="upBoxR">
                              <div class="coin">
                                  <p class="one">¥200.00</p>
                                  <p class="two">¥100.00/积分200</p>
                                  <p class="three">x1</p>
                              </div>
                          </div>
                      </div>
                      <!-- 备注和运费 -->
                      <div class="nickName">
                          <p>
                              备注
                              <input type="text" placeholder="您没有留言！">
                          </p>
                          <div class="feiyong">
                              <p class="one">运费<span>¥10.00</span></p>
                              <p class="two">共1件商品 合计：<span>¥1029.00</span></p>
                          </div>
                          <!-- 合计 -->
                          
                      </div>
                 </div>
                 <!--  订单变啊红-->
                 <div class="bianhao">
                   <p>订单编号：1888777</p>
                   <p>下单时间：2018-05-05 16:30:50</p>
                   <p>付款时间：2018-05-05 16:3</p>
                   <p>发货时间：2018-05-05 18:3</p>
                 </div>
        </div>
        <!-- 去支付 -->
                 <div class="getmoney">
                   <button class="del">查看物流</button>
                   <button class="get">确认收货</button>
                 </div>
    </div>
</template>
<script>
import { Field,Icon,NavBar } from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
    created(){
        this.$parent.hideNav = true
    }
    
}
</script>
<style lang="less" scope>
    .van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    // 付款
    .fukuan{
        width: 3.75rem;
        height: 1rem;
        background: url('../../../static/image/order/fukuan.png') no-repeat;
        padding-left: 0.2rem;
        & > p{
            font-size: 0.14rem;
            color: #fff;
            & > span{
                margin-right: 0.67rem;
            }
        }
        & > .qian{
            margin-bottom: 0.12rem;
        }
    }
    // 再来个内容
    .centerF{
        background:rgba(250,250,250,1);
        padding: 0 0.2rem;
        height: 78vh;
    }
    .shouhuoinformation{
        background:linear-gradient(103deg,rgba(251,224,200,1) 0%,rgba(237,199,164,1) 100%);
        border-radius:4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: relative;
        z-index: 9999;
        top: -0.2rem;
    }
    .leftK{
        display: flex;
        flex-direction: column;
        font-size: 0.14rem;
        color: #333333;
    }
    .topK{
       display: flex;
       justify-content: space-between;
       margin-bottom: 10px;
    }
    .bottomK{
        & > p{
            font-size: 0.14rem;
            color: #333333;
        }
    }
    //    商品详情
.goodsinformation{
    padding: 0 10px 10px 10px;
    background-color: #fff;
    margin-bottom: 12px;
}
.upbox{
    display: flex;
    justify-content: space-between;
}
.upBoxL{
    display: flex;
    & > img{
        margin-right: 0.26rem;
    }
}
.upBoxR{
    display: flex;
    justify-content: space-between
}
.jieshao{
    & > .jieshao1{
        font-size: 0.14rem;
        color: #333333;
        margin-bottom: 0.24rem;
    }
    & > .ping{
        font-size: 0.12rem;
        color: #666666
    }
}
.coin{
    text-align: right;
    & > .one{
        font-size: 0.10rem;
        color: #999999;
        text-decoration: line-through
    }
     & > .two{
        font-size: 0.12rem;
        color: #333333;
    }
     & > .three{
        font-size: 0.12rem;
        color: #666666;
        margin-top: 0.08rem;
    }
}
// 备注和运费
.nickName{
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;
    & > p{
        font-size: 0.12rem;
        color: #666666;
        & > input{
            color: #999999;
            font-size: 0.12rem
        }
        & > span{
            margin-left: 10px;
        }
    }
    & > .feiyong{
        display: flex;
        justify-content: space-between;
        & > .one{
            font-size: 0.12rem;
            color: #666666;
        }
        & > .two{
            font-size: 0.12rem;
            color: #666666;
            & > span{
                font-size: 0.14rem;
                  color: #333333;
            }
        }
    }
}
// 订单吧啦啦
.bianhao{
    padding: 0.1rem;
    background-color: #fff;
    & > p{
        font-size: 0.12rem;
        color: #666666
    }
}
// 去支付
.getmoney{
    width: 100%;
    height: 0.54rem;
    position: fixed;
    bottom: 0;
    background-color: red;
    display: flex;
    & > .del{
        width: 50%;
        height: 0.54rem;
        border:none;
        background:rgba(243,201,163,1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.16rem;
        color: #333333;
    }
    & > .get{
        width: 50%;
        height: 0.54rem;
        border:none;
        background:#333333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.16rem;
        color: #ffffff;
    }
}
</style>
