<template>
    <div>
        <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="门店选择" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 店铺选择 -->
        <div class="centerShop">
             <van-radio-group v-model="radio">
                <van-cell-group>
                    <van-cell title="浙江台州玉环市双港路420-10号" clickable @click="radio = '1'">
                    <van-radio slot="right-icon" name="1" />
                    </van-cell>
                    <van-cell title="浙江台州玉环市双港路420-10号" clickable @click="radio = '2'">
                    <van-radio slot="right-icon" name="2" />
                    </van-cell>
                    <van-cell title="浙江台州玉环市双港路420-10号" clickable @click="radio = '3'">
                    <van-radio slot="right-icon" name="3" />
                    </van-cell>
                </van-cell-group>
                </van-radio-group>
                <!-- 确认选择 -->
                <button>确认选择</button>
        </div>
        
    </div>
</template>
<script>
import { Field,Icon,NavBar, RadioGroup, Radio,Cell,CellGroup} from 'vant';
export default {
    data(){
        return{
            radio:'1'
        }
    },
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar,
        [RadioGroup.name]:RadioGroup,
        [Radio.name]:Radio,
        [Cell.name]:Cell,
        [CellGroup.name]:CellGroup
    },
    created(){
        this.$parent.hideNav = true
    }
}
</script>
<style lang="less" scope>
    .van-icon{
        font-size: 22px;
    }
    // .van-hairline--bottom::after{
    //     border-bottom-width: 0;
    // }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    .van-cell__title{
        font-size: 0.14rem;
        color: #333333;
    }
    // 店铺选择
    .centerShop{
        height: 100vh;
        background:rgba(250,250,250,1);
        padding: 20px;
    }
    .van-radio__icon{
    font-size: 0.14rem;
    }
    .van-radio__icon--checked .van-icon{
        color: #333333;
        background-color: #F3C9A3;
        border-color: #F3C9A3;
    }
    .van-cell__title{
        color: #666666;
    }
    // 确认选择
    button{
        width: 2.95rem;
        height: 0.44rem;
        background:rgba(194,150,111,1);
        border-radius:8px;
        font-size: 0.16rem;
        color: #ffffff;
        margin: 0.4rem 0.2rem 0 0.2rem;
        border:none;
        display: flex;
        justify-content: center;
    }
</style>
