<template>
     <div>
         <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="订单详情" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 内容 -->
        <div class="fukuan">
          <p class="qian">运输中</p>
          <p>
              <span> 快递公司：中通快递</span>
              <span>快递单号：2878787878787</span>
          </p>
        </div>
        <!-- 物流信息 -->
        <div class="Logistics">
            <el-timeline :reverse="reverse">
                <el-timeline-item
                v-for="(activity, index) in activities"
                :key="index"
                :timestamp="activity.timestamp">
                {{activity.content}}
                </el-timeline-item>
            </el-timeline>
        </div>
        </div>
</template>
<script>
import { Field,Icon,NavBar } from 'vant';
export default {
    data(){
        return{
           reverse: false,
        activities: [{
          content: '已签收',
          timestamp: '2018-05-05 16:30:50'
        }, {
          content: '[金华市]永康一部已收揽',
          timestamp: '2018-05-05 16:30:50'
        }, {
          content: '[金华市]永康一部已收揽',
          timestamp: '2018-05-05 16:30:50'
        }, {
          content: '已发货',
          timestamp: '2018-05-05 16:30:50'
        }]
        }
    },
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
    created(){
        this.$parent.hideNav = true
    }
    
}
</script>
<style lang="less" scope>
  .van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    // 付款
    .fukuan{
        width: 3.75rem;
        height: 0.8rem;
        background: url('../../../static/image/order/fukuan.png') no-repeat;
        padding-left: 0.2rem;
        padding-top: 0.2rem;
        & > p{
            font-size: 0.14rem;
            color: #fff;
            & > span{
                margin-right: 0.3rem;
            }
        }
        & > .qian{
            margin-bottom: 0.12rem;
        }
    }
    // 物流信息
    .Logistics{
        padding: 0.12rem 0.2rem 0 0.2rem;
        background:rgba(250,250,250,1);
        height: 80vh;
        & > .el-timeline{
             background-color: #fff;
             padding: 0.2rem 0.1rem;
            
        }
    }
    .el-timeline-item__content{
        font-size: 0.12rem;
        color: #333333;
    }
    .el-timeline-item__timestamp.is-bottom{
        font-size: 0.12rem;
        color: #666666;
    }
</style>
