<template>
<div>
    <div class="cart" v-for="(item,goodsIndex) in goodsList" :key="goodsIndex">
        <div class="header">
             <img :src="select ? '../../../static/image/cart/xuanzhong.png' : '../../../static/image/cart/weixuanzhong.png'" alt="" class="fl checkImg">
             <div class="clearfix number-box fr">
                 <span class="reduceIcon">-</span>
                 <input type="number" v-model="num" class="fl goods-number">
                 <span class="plusIcon">+</span>
             </div>
             </div>
          <!-- 产品内容 -->
             <div class="centers">
                 <div class="picAfont">
                     <img src="../../assets/img/index/shop1.png" alt="">
                     <p>准野生紫灵芝片</p>
                 </div>
                 <div class="price">
                     <p class="line">¥200.00</p>
                     <p class="money">¥100.00/积分200</p>
                     <div class="img">
                         <img src="../../../static/image/cart/del.png" alt="">
                     </div>
                 </div>
             </div>
    </div>
    <!-- 结算 -->
    <div class="bottom-action clearfix">
              <div class="left">
                  <img :src="all_select  ? '../../../static/image/cart/xuanzhong.png' : '../../../static/image/cart/weixuanzhong.png'" class="all-select fl" @click="allSelect()"/>
                    <span style="margin-left:4px">全选</span>
                    <span style="margin-left:20px">删除</span>
              </div>
              <div class="right">
                   <p class="fr count-number" v-if="isEdit == false">合计：<span>¥999.00</span></p>
                    <button class="fr buy-btn" v-if="isEdit == false">去结算</button>
              </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
       return{
            select:false,
            all_select:false,
            isEdit:false,
            num:1,
            goodsList:[
                 {
                    animateAn:'',
                    animate:'',
                    id:1,
                    cp:'我是路飞，要成为海贼王的男人',
                    jg:100,
                    sl:2,
                    select:false,
                    img:'../../../static/2.jpg',
                    kg:'0.35'
                },
                {
                    animateAn:'',
                    animate:'',
                    id:2,
                    cp:'路飞，索隆，乔巴，乌索普，山治，娜美，罗宾，甚平，弗兰克，布鲁克',
                    jg:120,
                    sl:5,
                    select:false,
                    img:'../../../static/4.jpg',kg:'0.88'}
            ]
       }
    },
    methods:{
        // 选择商品
        // goodsSelect:function(i,j){
        //   var _this = this;
        //   _this.goosList[g].select = !-this.select;
        //   for(var t = 0; t < _this.goodsList.length; t++){
        //       _this.goodsList[t].select = _this.select
        //   }
        // }
    }
   
}
</script>
<style lang="less" scope>
.cart{
    height: 100%;
    background: #ffffff;
    padding: 0.09rem 0.09rem 0 0.09rem;
    margin-bottom: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom:0.09rem;
}
.checkImg{
    width: 16px;
    height: 16px;
    // margin-left: 0.09rem;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.number-box{
    display: flex;
    border: 1px solid #ccc;
    width: 0.8rem;
    height: 0.2rem;
}
.reduceIcon,.plusIcon{
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    text-align: center;
    font-size: 0.16rem;
    background:rgba(241,241,241,1);
    line-height: 0.2rem;
    color: #666666;
}
.goods-number{
    width: 0.4rem;
    height: 0.2rem;
    border: 1px solid rgba(241,241,241,1);
    font-size: 0.14rem;
    text-align: center;
}
.centers{
    display: flex;
    justify-content: space-between;
    margin-top: 0.09rem;
}
.picAfont{
    display: flex;
    justify-content: space-between;
    & > img{
        width: 0.44rem;
        height: 0.8rem;
        margin-right: 0.26rem;
    }
    & > p{
        font-size: 0.14rem;
        color: #333333;
    }
}
.price{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.line{
    text-decoration: line-through;
    font-size: 0.10rem;
    color: #999999;
}
.money{
    font-size: 0.12rem;
    color: #333333;
}
.img{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.25rem;
    & > img{
        width: 0.12rem;
        height: 0.11rem;
    }
}
.bottom-action{
    width: 3.55rem;
    height: 0.48rem;
    background:rgba(255,255,255,1);
    position: fixed;
    left: 0;
    bottom:0.45rem;
    padding-left: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy-btn{
    width: 0.82rem;
    height: 0.48rem;
    background:rgba(194,150,111,1);
    font-size: 0.14rem;
    color: #ffffff;
    border:none;
    margin-left: 10px;
}
.count-number{
    // padding-left: 0.86rem;
    font-size: 0.12rem;
    color: #666666;
    & > span{
        font-size: 0.14rem;
        color: #333333;
    }
}
.left{
    display: flex;
    & > img{
        width: 0.16rem;
        height: 0.16rem;
    }
    & > span{
        font-size: 0.12rem;
        color: #999999;
    }
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>