<template>
    <div>
         <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="我的余额" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 积分内容 -->
        <div class="inter">
             <div class="interK">
                 <p class="price">¥7500.00</p>
                 <p class="jifen">可用余额</p>
             </div>
              <div class="interK">
                 <p class="price">¥7500.00</p>
                 <p class="jifen">累计奖励</p>
             </div>
        </div>
        <!-- 积分明细 -->
        <div class="Detail">
            <p>收益明细</p>
            <div class="one">
               <div class="jiangli">
                   <p class="mingzi">来源：社群1 13809980993</p>
                   <p class="time">奖励时间：2019-03-26</p>
               </div>
               <div class="sourde">+1000.00</div>
            </div>
             <div class="one">
               <div class="jiangli">
                   <p class="mingzi">来源：社群1 13809980993备份
</p>
                   <p class="time">奖励时间：2019-03-26备份
</p>
               </div>
               <div class="sourde">+1000.00</div>
            </div>
            <div class="one">
               <div class="jiangli">
                   <p class="mingzi">提现
</p>
                   <p class="time">2019-03-26
</p>
               </div>
               <div class="sourde lv">-1000.00</div>
            </div>
            <div class="one">
               <div class="jiangli">
                   <p class="mingzi">消费
</p>
                   <p class="time">2019-03-26
</p>
               </div>
               <div class="sourde lv">-1000.00</div>
            </div>
        </div>
    </div>
</template>
<script>import { Field,Icon,NavBar } from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
    created(){
        this.$parent.hideNav = true
    }
    
}
</script>
<style lang="less" scope>
.van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    // 积分内容
    .inter{
        width: 100%;
        height: 1rem;
        background: url('../../../static/image/mine/inter.png') no-repeat;
        display: flex;
        justify-content: space-around;
        align-items: center;
        & > .interK{
            display: flex;
            align-items: center;
            flex-direction: column;
            & > .price{
                font-size: 0.2rem;
                color: #E4C988;
            }
            & > .jifen{
                font-size: 0.12rem;
                color: #fff
            }
        }
    }
    // 积分明细
    .Detail{
        width: 100%;
        height: 6rem;
        background-color: #FAFAFA;
        & > p{
            height: 0.46rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.14rem;
            color: #333333;
        }
        & > .one{
            margin: 0 20px 8px 20px;
            padding: 10px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > .jiangli{
                display: flex;
                flex-direction: column;
                & > .mingzi{
                    font-size: 0.14rem;
                    color: #333333;
                }
                & > .time{
                    font-size: 0.12rem;
                    color: #999999;
                }
            }
            & > .sourde{
                display: flex;
                align-items: center;
                font-size: 0.16rem;
                color: #E02020;
            }
            & > .lv{
                display: flex;
                align-items: center;
                font-size: 0.16rem;
                color: #13A900;
            }
        }
    }
</style>

