<template>
    <div>
          <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="提现列表" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
         <!-- 内容 -->
        <div class="inter">
            <div class="all">
             <div class="interK">
                 <p class="jifen">可提现金额(元)</p>
                 <p class="price">7500.00</p>
             </div>
             <div class="interK">
                 <p class="jifen">已提现金额(元)</p>
                 <p class="price">500.00</p>
             </div>
             </div>
            <!-- 再来个内容 -->
        <div class="money">
            <img src="../../../static/image/mine/money.png" alt="">
            <span>提现金额(元)</span>
        </div>
        <p class="line">
            <a href="#">2000.00</a>
            </p>
        </div>
         <!-- 继续 -->
         <div class="goout">
             <p>请根据提示填写信息，即可完成提现申请：</p>
             <div class="yinhang">
                 <p>银行机构</p>
                 <input type="text" placeholder="请输入银行名称(精确到支行)">
             </div>
             <div class="yinhang">
                 <p>户名</p>
                 <input type="text" placeholder="请输入账号姓名">
             </div>
             <div class="yinhang">
                 <p>银行卡号</p>
                 <input type="number" placeholder="请输入银行卡号">
             </div>
             <div class="yinhang flexs">
                 <div class="teshu">
                 <p>验证码</p>
                 <input type="text" placeholder="请输入手机验证码"></div>
                 <button>获取验证码</button>
             </div>
         </div>
         <!-- 提交 -->
         <button class="sub">提交</button>
    </div>
</template>
<script>
import { Field,Icon,NavBar } from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
    created(){
        this.$parent.hideNav = true
    }
    
}
</script>
<style lang="less" scope> 
.van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    // 积分内容
    .inter{
        height: 1.4rem;
        background: url('../../../static/image/mine/list.png') no-repeat center;
        background-color: #333333;
        padding-top: 0.1rem;
        padding-bottom: 0.2rem;
        .all{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 0.5rem;
            & > .interK{
            display: flex;
            align-items: center;
            flex-direction: column;
            & > .price{
                font-size: 0.14rem;
                color: #ffffff;
            }
            & > .jifen{
                font-size: 0.12rem;
                color: #ffffff;
            }
        }
        }
        
    }
    .money{
        display: flex;
        align-items: center;
            padding-left: 0.5rem;
            padding-top: 0.1rem;
        & > img{
                width: 0.18rem;
                height: 0.2rem;
                margin-right: 0.05rem;
            }
            & > span{
                font-size: 0.12rem;
                color: #333333;
            }
    }
    .line{
        font-size:0.22rem;
        text-align: center;
        margin-top: 0.21rem;
        & > a{
            text-decoration:underline;
            color: #333333
        }

    }
    // 继续
    .goout{
        padding: 0 0.2rem;
        margin-bottom: 0.4rem;
        & > p{
            padding-top: 0.08rem;
            font-size: 0.1rem;
            color: #999999;
        }
        & > .yinhang{
            display: flex;
            align-items: center;
            height: 0.5rem;
            border-bottom: 1px solid #CCCCCC;
            & > p{
                font-size: 0.14rem;
                color: #666666;
                width: 0.56rem;
                margin-right: 0.08rem;
            }
            & > input{
                width: 1.6rem;
                font-size: 0.12rem;
                color: #999999;
            }
            & > button{
                width: 0.72rem;
                height: 0.28rem;
                border-radius: 0.04rem;
                border:1px solid rgba(51,51,51,1);
                font-size: 0.12rem;
                color: #333333;
                background-color: #fff;
            }
        }
        & > .flexs{
            display: flex;
            justify-content: space-between;
            & > .teshu{
                display: flex;
                 & > p{
                font-size: 0.14rem;
                color: #666666;
                width: 0.56rem;
                margin-right: 0.08rem;
            }
            & > input{
                width: 1.51rem;
                font-size: 0.12rem;
                color: #999999;
            }
            }
            
        }
    }
    // 提交
    .sub{
        width: 2.95rem;
        height: 0.44rem;
        background:rgba(194,150,111,1);
        border-radius:0.08rem;
        border:none;
        margin: 0 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
       font-size: 0.16rem;
       color: #ffffff
    }
</style>

