<template>
    <div>
         <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="提现列表" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 内容 -->
        <div class="inter">
             <div class="interK">
                 <p class="jifen">可提现</p>
                 <p class="price">¥7500.00</p>
             </div>
        </div>
        <!-- 提现 -->
        <div class="Detail">
            <button>去提现</button>
            <p>提现记录</p>
            <div class="one">
               <div class="sourde">-1000.00</div>
               <div class="jiangli">
                   <p class="mingzi">提现失败</p>
                   <p class="time">2019-03-26</p>
               </div>
            </div>
            <!-- 不知道什么情况下会有提示 -->
            <div class="tishi">
             用户名与账号不符合！
            </div>
             <div class="one mr">
                 <div class="sourde">-1000.00</div>
               <div class="jiangli">
                   <p class="mingzi wait">等待审核
</p>
                   <p class="time">2019-03-26
</p>
               </div>
            </div>
            <div class="one mr">
               <div class="sourde">-1000.00</div>
               <div class="jiangli">
                   <p class="mingzi success">提审成功
</p>
                   <p class="time">2019-03-26
</p>
               </div>
            </div>
        </div>
    </div>
</template>
<script>import { Field,Icon,NavBar } from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
    created(){
        this.$parent.hideNav = true
    }
    
}
</script>
<style lang="less" scope>
.van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    // 积分内容
    .inter{
        width: 100%;
        height: 1rem;
        background: url('../../../static/image/mine/inter.png') no-repeat;
        display: flex;
        justify-content: space-around;
        align-items: center;
        & > .interK{
            display: flex;
            align-items: center;
            flex-direction: column;
            & > .price{
                font-size: 0.2rem;
                color: #F3C9A3;
            }
            & > .jifen{
                font-size: 0.12rem;
                color: #ffffff;
                margin-bottom: 12px;
            }
        }
    }
    // 积分明细
    .Detail{
        width: 100%;
        height: 6rem;
        background-color: #FAFAFA;
        & > button{
            width:2.95rem;
            height:0.44rem;
            background:rgba(194,150,111,1);
            border-radius:8px;
            margin: 20px 40px  20px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.16rem;
            color: #ffffff;
            border:none;
        }
        & > p{
            height: 0.46rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.14rem;
            color: #333333;
        }
        & > .one{
            margin: 0 20px 0 20px;
            padding: 10px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > .jiangli{
                display: flex;
                flex-direction: column;
                text-align: right;
                & > .mingzi{
                    font-size: 0.12rem;
                    color: #E02020;
                }
                & > .wait{
                    font-size: 0.12rem;
                    color: #333333;
                }
                 & > .success{
                    font-size: 0.12rem;
                    color: #693F34;
                }
                & > .time{
                    font-size: 0.12rem;
                    color: #666666;
                }
            }
            & > .sourde{
                display: flex;
                align-items: center;
                font-size: 0.16rem;
                color: #693F34;
            }
            & > .lv{
                display: flex;
                align-items: center;
                font-size: 0.16rem;
                color: #13A900;
            }
        }
        & > .tishi{
            // width:335px;
            height:32px;
            line-height: 32px;
            background:rgba(51,51,51,1);
            border-radius:0px 0px 4px 4px;
            font-size: 0.12rem;
            color: #ffffff;
            margin: 0 20px;
            padding-left: 15px;
        }
        & > .mr{
            margin-top: 0.08rem;
        }
    }
</style>

