<template>
    <div>
         <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="编辑地址" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 新增地址 -->
        <div class="newAdd">
           <van-address-edit
            :area-list="areaList"
            show-postal
            show-delete
            show-set-default
            show-search-result
            :search-result="searchResult"
        />
        <!-- 按钮 -->
        <button>确认修改</button>
        </div>
    </div>
</template>
<script>
import { Field,Icon,NavBar,AddressEdit,Toast,Area } from 'vant';
import areaList from '../../assets/js/area'
var name = document.getElementsByClassName('van-cell__title')
name.innerHTML = 'ask'
export default {
    data(){
        return{
            areaList,
            searchResult: [],
            list:{
                id:'1',
                name:'张三',
                tel:'18888888888',
                address:'zhejainsfasvavjadf',
                addressDetail:'',
                areaCodeL:'',
                postalCode:'',
                idDefault:false
            }
        }
    },
    methods:{
        onClickLeft() {
                Toast('返回');
                this.$router.go(-1)
                },
            onSave(e) {
            Toast('save');
            //   console.log(e)
            //   console.log(e.province)
            let data = {};
            data.name = e.name
            data.tel = e.tel
            data.address = e.province + e.city + e.county + e.addressDetail + ""
            data.addressDetail = e.addressDetail
            data.areaCodeL = e.areaCodeL
            data.postalCode = e.postalCode
            data.isDefault = e.isDefault
            console.log(data)
            //   存的也是全部地址
            let addressData = JSON.parse(localStorage.getItem("address")) || []
            addressData.push(data);
            console.log(addressData)
            localStorage.setItem("address",JSON.stringify(addressData))
            },
            onDelete() {
            Toast('delete');
            },
    },
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar,
        [AddressEdit.name]: AddressEdit,
        [NavBar.name]: NavBar, 
        [Toast.name]: Toast, 
        [Area.name]: Area, 
    },
    created(){
        this.$parent.hideNav = true
    }
}
</script>
<style lang="less" scope>
    .van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
     // 地址部分
    .newAdd{
        height: 90vh;
        background:rgba(250,250,250,1);
        padding: 0.2rem;
    }
    .van-switch-cell{
        margin-top: 0.2rem;
        margin-bottom: 0.4rem;
    }
    .van-address-edit__buttons{
        display: none;
    }
    .van-switch--on{
        background-color: #693F34;
    }
     // 地址
    button{
        margin: 0 auto;
        width:2.95rem;
        height:0.44rem;
        background:rgba(194,150,111,1);
        border-radius:8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.16rem;
        color: #fff;
        border:none;
    }
</style>

