<template>
    <div>
        <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="地址管理" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 地址部分 -->
        <div class="centerAdd">
            <div class="neirong">
                <div class="up">
                    <p class="xinxi">
                        <span>收货人：郭德纲</span>
                        <span>18888888888</span>
                    </p>
                    <p class="weizhi">
                        浙江省杭州市萧山区广孚国际联合中心220
                    </p>
                </div>
                <div class="botom">
                    <p class="moren">
                        <img src="../../../static/image/cart/weixuanzhong.png" alt="">
                        <span>默认地址</span>
                    </p>
                    <p class="edit">
                        <img src="../../../static/image/order/bianji.png" alt="">
                        <span class="bian">编辑</span>
                        <img src="../../../static/image/cart/del.png" alt="">
                        <span>删除</span>
                    </p>
                </div>
            </div>
            <!-- 按钮 -->
            <button>新增地址</button>
        </div>
    </div>
</template>
<script>
import { Field,Icon,NavBar } from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
    created(){
        this.$parent.hideNav = true
    }
}
</script>
<style lang="less" scope>
.van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    // 地址部分
    .centerAdd{
        height: 90vh;
        background:rgba(250,250,250,1);
        padding: 0.2rem;
        & > .neirong{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 0.1rem;
            margin-bottom: 0.4rem;
            & > .up{
                display: flex;
                flex-direction: column;
                padding-bottom: 0.1rem;
                border-bottom: 1px solid #F1F1F1;
                & > .xinxi{
                    font-size: 0.14rem;
                    color: #333333;
                    margin-bottom: 0.1rem;
                    & > span{
                        margin-right: 0.4rem;
                    }
                }
                & > .weizhi{
                    font-size: 0.12rem;
                    color: #666666;
                }
            }
            & > .botom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.1rem 0 0 0.1rem;
                & > .moren{
                    display: flex;
                    align-items: center;
                    & > img{
                        width: 0.16rem;
                        height: 0.16rem;
                        margin-right: 0.07rem;
                    }
                    & > span{
                        font-size: 0.12rem;
                        color: #666666;
                    }
                }
                & > .edit{
                    display: flex;
                    align-items: center;
                    & > img{
                        width: 0.12rem;
                        height: 0.12rem;
                        margin-right: 0.04rem;
                    }
                    & > span{
                        font-size: 0.12rem;
                        color: #666666;
                    }
                    & > .bian{
                        margin-right: 0.2rem;
                    }
                }
            }
        }
    }
    // 地址
    button{
        margin: 0 auto;
        width:2.95rem;
        height:0.44rem;
        background:rgba(194,150,111,1);
        border-radius:8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.16rem;
        color: #fff;
        border:none;
    }
</style>

