<template>
    <div>
        <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="好邻居商城" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <div class="header">
            <img src="../../static/image/brand/brand1.png" alt="">
        </div>
        <!-- 视频窗口 -->
        <div class="mp4">
            <!-- 可能需要个点击事件播放视频 -->
            <img src="../../static/image/brand/mp4.png" alt="">
        </div>
        <div class="center">
            <img src="../../static/image/brand/brand2.png" alt="">
        </div>
        <!-- 视频窗口 -->
        <div class="mp4">
            <!-- 可能需要个点击事件播放视频 -->
            <img src="../../static/image/brand/mp4.png" alt="">
        </div>
        <div class="center1">
            <img src="../../static/image/brand/brand4.png" alt="">
        </div>
       <div class="center2">
           <img src="../../static/image/brand/brand5.png" alt="">
       </div>
       <div class="center3">
           <img src="../../static/image/brand/brand6.png" alt="">
       </div>
       <div class="center4">
           <img src="../../static/image/brand/brand7.png" alt="">
       </div>
       <div style="height:0.49rem"></div>
    </div>
</template>
<script>
import { Icon,NavBar } from 'vant';
export default {
    components:{
      [Icon.name]:Icon,
      [NavBar.name]:NavBar
    },
}
</script>
<style lang="less" scope>
.van-nav-bar{
    background: #333333;
    margin-bottom: 0;
}
.van-nav-bar .van-icon{
   color: #fff;
}
.van-nav-bar__title{
color: #fff;
}
.header{
    width: 100%;
    display: flex;
    margin-bottom: 0.1rem;
}
.mp4{
    width: 100%;
    height: 2.1rem;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.1rem;
    & > img{
        width: 0.4rem;
        height: 0.4rem;
    }
}
.center{
    width: 100%;
    height: 4.69rem;
}
.center1{
    width: 100%;
    height: 6.94rem;
}
.center2{
    width: 100%;
    height: 6.11rem;
}
.center3{
    width: 100%;
    height: 5rem;
}
.center4{
    width: 100%;
    height: 5.14rem;
}
[class*=van-hairline]::after{
    border:none;
}
</style>