<template>
    <div>
        <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="购物袋" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
            <!-- 数据是活的 -->
            <p>共2件商品</p>
        </div>
        <!-- 内容 -->
        <div class="center">
          <div class="goods_list">
           <carts></carts>
          </div>
          
        </div>
    </div>
</template>
<script>
import { Icon,NavBar } from 'vant';
import carts from '../components/cart/carts'
export default {
    components:{
      [Icon.name]:Icon,
      [NavBar.name]:NavBar,
      carts
    },
    data(){
        return{
            select:false
        }
    }
}
</script>
<style lang="less" scope>
.goods_list{
    padding-top: 0.83rem;
}
.van-icon{
    font-size: 22px;
}
.van-nav-bar{
    background: #333333;
}
.van-nav-bar .van-icon{
    color: #fff;
}
.van-nav-bar__title{
    color: #fff;
}
.van-nav-bar{
    margin-bottom:0.1rem;
}
.title{
    background-color: #333333;
    position:fixed;
    width: 100%;
    & > p{
        font-size: 0.12rem;
        color: #fff;
        padding-left: 0.2rem;
        padding-bottom: 0.1rem;
    }
}
[class*=van-hairline]::after{
    border:none;
}
.center{
    overflow: hidden;
    height:100vh;
    background:rgba(250,250,250,1);
    padding: 0.12rem  0.2rem 0 0.2rem;
}
</style>