<template>
    <div>
        <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="好邻居商城" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <div class="header">
            <img src="../assets/img/index/banner.png" alt="">
        </div>
        <!-- 精选礼包 -->
        <div class="mid">
            <img src="../assets/img/index/jingxuanlibao.png" style="width: 1.25rem; height: 0.29rem;">
        </div>
         <div class="shop">
             <!-- 前提是数组里有数据，别忘判断-->
             <div class="item_shop" v-for="(item,index) in datas" :key="index">
             <div class="shopI">
                 <img :src="item.imgurl" alt="" class="shopImg" style="width: 1.7rem;
        height: 1.7rem;">
             </div>
             <p style="font-size:0.12rem">{{item.instrs}}</p>
             <div class="img" style="height:0.16rem">
                 <img :src="item.imgicon" alt="" style="width:1.25rem;height:0.16rem">
                 </div>
                 <div class="price">
                        <span class="fuhao">¥</span>
                        <span class="money">{{item.price}}</span>
                    </div>
                    </div>
                    <!-- 更多商品敬请期待 -->
                    <div class="more_shop">
                          <div class="yuan">
                              更多商品<br>敬请期待
                          </div>
                    </div>
         </div>
         <!-- 会员商城 -->
         <div class="mid botto">
            <img src="../assets/img/index/huiyuanC.png" style="width: 1.25rem; height: 0.29rem;">
        </div>
          <div class="shop">
             <!-- 前提是数组里有数据，别忘判断-->
             <div class="item_shop" v-for="(item,index) in dataH" :key="index">
             <div class="shopI">
                 <img :src="item.imgurl" alt="" class="shopImg" style="width: 1.7rem;
        height: 1.7rem;">
             </div>
             <p style="font-size:0.12rem">{{item.instrs}}</p>
             <p style="text-decoration: line-through;color:#999999">{{item.Hprice}}</p>
                 <div class="price">
                     <span class="black">积分</span>
                     <span class="red">{{item.jifen}}</span>
                     <span class="black">/</span>
                     <span class="black">会员价</span>
                    <span class="fuhao">¥</span>
                     <span class="red">{{item.huiyuan}}</span>
                    </div>
                    </div>
                    <!-- 更多商品敬请期待 -->
                    <div class="more_shop">
                          <div class="yuan">
                              更多商品<br>敬请期待
                          </div>
                    </div>
         </div>
         <div style="height:0.49rem"></div>
    </div>
</template>
<script>
import { Icon,NavBar } from 'vant';
export default {
    components:{
      [Icon.name]:Icon,
      [NavBar.name]:NavBar
    },
    data(){
        return{
            datas:[
                {
                    imgurl:'../../static/image/index/shop1.png',
                    instrs:'准野生紫灵芝酒',
                    imgicon:'../../static/image/index/huiyuan.png',
                    price:'60'
                },
                {
                    imgurl:'../../static/image/index/shop1.png',
                    instrs:'准野生紫灵芝酒',
                    imgicon:'../../static/image/index/huiyuan.png',
                    price:'60'
                },{
                    imgurl:'../../static/image/index/shop1.png',
                    instrs:'准野生紫灵芝酒',
                    imgicon:'../../static/image/index/huiyuan.png',
                    price:'60'
                },
            ],
            dataH:[
                {
                    imgurl:'../../static/image/index/shop1.png',
                    instrs:'准野生紫灵芝酒',
                    Hprice:'零售价¥60',
                    jifen:'60',
                    huiyuan:'500'
                },
            ]
        }
    }
}
</script>
<style lang="less" >
.van-icon{
    font-size: 22px;
}
.van-nav-bar{
    background: #333333;
}
.van-nav-bar .van-icon{
    color: #fff;
}
.van-nav-bar__title{
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#F5F5F5;
}
.header{
    width: 100%;
    height: 2.45rem;
    margin-bottom: 0.09rem;
    
    & > img{
        width: 100%;
        height: 100%;
    }
}
.mid{
    height: 0.29rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.12rem;
    &>img{
        width: 100%;
        height: 100%;
    }
}
.botto{
    margin-bottom: 0.2rem;
}
.shop{
    padding: 0 0.12rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.13rem;
}
.item_shop{
    width: 1.7rem;
    height: 2.58rem;
    background-color: #fff;
    margin-bottom: 0.12rem;
}
.more_shop{
    width: 1.7rem;
    height: 2.58rem;
    background-color: #fff;
    margin-bottom: 0.12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yuan{
    width: 1.34rem;
    height: 1.34rem;
    background:rgba(245,245,245,1);
    font-size: 0.14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    color:rgba(153,153,153,1);
}
 .shopI{
        display: flex;
        margin-bottom: 0.08rem;
    }
    p{
        font-size: 0.12rem;
        color: #333333;
        padding-left: 0.05rem;
        margin-bottom: 0.09rem;
    }
 .img{
        display: flex;
        margin-bottom: 0.11rem;
        padding-left: 0.05rem;
    }
    .price{
        display: flex;
        padding-left: 0.05rem;
        align-items: flex-end

    }
 .fuhao{
    font-size: 0.1rem;
    color: #FF0038;
}
.money{
    font-size: 0.18rem;
    color: #FF0038;
}
.black{
    font-size: 0.12rem;
    color: #333333;
}
 .red{
     font-size: 0.18rem;
     color: #FF0038;
 }  
</style>

