<template>
    <div>
        <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="个人中心">
                <van-icon name="cross" slot="left" />
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 个人信息 -->
        <div class="mysel">
            <div class="bgc">
            <div class="header">
               <img src="../../static/image/mine/toubu.png" alt="">
               <div class="info">
                   <p class="name">小瓜子</p>
                   <p class="vip">
                       <img src="../../static/image/mine/vip.png" alt="">
                       <span>VIP</span>
                   </p>
               </div>
            </div>
            <div class="centers">
              <div class="left">
                <p class="number">12345</p>
                <p class="types">
                    <img src="../../static/image/mine/jif.png" alt="">
                    <span>我的积分</span>
                </p>
              </div>
              <div class="right">
                  <p class="number">¥1266</p>
                  <p class="types">
                      <img src="../../static/image/mine/yue.png" alt="">
                      <span>我的余额</span>
                  </p>
              </div>
            </div>
            </div>
        </div>
         <!-- 代付款吧啦啦 -->
            <div class="payment">
               <ul>
            <router-link :to="{name:'Home'}" tag="li" exact>
                <div>
                   <img src="../../static/image/mine/11.png" alt="">
                </div>
                <div>待付款</div>
            </router-link>
            <router-link :to="{name:'Brand'}" tag="li" exact>
                <div>
                    <img src="../../static/image/mine/22.png" alt="">
                </div>
                <div>待发货</div>
            </router-link>
            <router-link :to="{name:'Member'}" tag="li" exact>
                <div>
                   <img src="../../static/image/mine/33.png" alt="">
                </div>
                <div>待收货</div>
            </router-link>
            <router-link :to="{name:'Cart'}" tag="li" exact>
                <div>
                    <img src="../../static/image/mine/44.png" alt="">
                </div>
                <div>全部订单</div>
            </router-link>
        </ul>
            </div>
            <!-- list -->
            <div class="list">
                <!-- 邀请好友 -->
               <div class="friends">
                   <div class="zuo">
                       <img src="../../static/image/mine/01.png" alt="">
                       <span>邀请好友</span>
                   </div>
                   <div class="you">
                       <img src="../../static/image/order/youjiantou.png" alt="">
                   </div>
               </div>
               <!-- 我的社群 -->
               <div class="friends">
                   <div class="zuo">
                       <img src="../../static/image/mine/02.png" alt="">
                       <span>我的社群</span>
                   </div>
                   <div class="you">
                       <img src="../../static/image/order/youjiantou.png" alt="">
                   </div>
               </div>
               <!-- 我要凸显 -->
               <div class="friends">
                   <div class="zuo">
                       <img src="../../static/image/mine/03.png" alt="">
                       <span>我要提现</span>
                   </div>
                   <div class="you">
                       <img src="../../static/image/order/youjiantou.png" alt="">
                   </div>
               </div>
               <!-- 收获地址 -->
               <div class="friends">
                   <div class="zuo">
                       <img src="../../static/image/mine/04.png" alt="">
                       <span>收货地址</span>
                   </div>
                   <div class="you">
                       <img src="../../static/image/order/youjiantou.png" alt="">
                   </div>
               </div>
               <!-- 个人设置 -->
               <div class="friends">
                   <div class="zuo">
                       <img src="../../static/image/mine/05.png" alt="">
                       <span>个人设置</span>
                   </div>
                   <div class="you">
                       <img src="../../static/image/order/youjiantou.png" alt="">
                   </div>
               </div>
            </div>
    </div>
</template>
<script>
import { Field,Icon,NavBar } from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
}
</script>
<style lang="less" scope>
.van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    // 个人信息
    .mysel{
        height: 1.54rem;
        padding: 0.21rem 0.27rem 0 0.27rem;
        background-color: #333333;
        .bgc{
background: url('../../static/image/mine/mine.png') no-repeat;
        background-size: 100%;
             & > .header{
            padding: 0.07rem 0.1rem 0.2rem 0.1rem;
            display: flex;
            & > img{
                width: 0.54rem;
                height: 0.54rem;
                margin-right: 0.07rem;
            }
            & > .info{
                display: flex;
                flex-direction: column;
                & > .name{
                    font-size: 0.2rem;
                    color: #333333;
                }
                & > .vip{
                    width: 0.48rem;
                    height: 0.16rem;
                    background:rgba(194,150,111,1);
                    border-radius:8px;
                    padding: 0.05rem 0.09rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & > img{
                        width: 0.1rem;
                        height: 0.1rem;
                        margin-right: 0.05rem;
                    }
                    & > span{
                        font-size: 0.12rem;
                        color: #333333;
                    }
                }
            }
        }
        }
        
    }
    .centers{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px 0.12rem 20px;
        & > .left{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & > .number{
                font-size: 0.18rem;
                color: #333333;
            }
            & > .types{
                display: flex;
                align-items: center;
                & > img{
                    width: 0.13rem;
                    height: 0.13rem;
                    margin-right: 0.02rem;
                }
                & > span{
                    font-size: 0.12rem;
                    color: #333333;
                }
            }
        }
        & > .right{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & > .number{
                font-size: 0.18rem;
                color: #333333;
            }
            & > .types{
                display: flex;
                align-items: center;
                & > img{
                    width: 0.13rem;
                    height: 0.13rem;
                    margin-right: 0.02rem;
                }
                & > span{
                    font-size: 0.12rem;
                    color: #333333;
                }
            }
        }
    }
    // 待付款巴拉巴拉
    .payment{
        height: 0.9rem;
        width: 3.75rem;
        background:rgba(61,61,61,1);
        margin-top: -20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
         & > ul, & > ul > li {
            margin: 0;
            padding: 0;
            }
            ul {
            display: table;
            width: 100%;
            & > li {
                text-align: center;
                font-size: 16px;
                display: table-cell;
                padding: 0px 12px;
                cursor: pointer;
                &.router-link-active{
                color: #D0021B;
                }
                & > div {
                font-size: 14px;
                color: #FFE7D2;
                & > img {
                   width: 0.18rem;
                   height: 0.2rem;
                }
                }
            }
            }
    }
    // lsit
    .list{
        padding: 0 15px;
        background-color: #fff;
        & > .friends{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 0.6rem;
            border-bottom: 1px solid #EBEBEB;
            & > .zuo{
                display: flex;
                & > img{
                    width: 0.16rem;
                    height: 0.16rem;
                    margin-right: 0.04rem;
                }
                & > span{
                    font-size: 0.14rem;
                    color: #333333;
                }
            }
            & > .you{
                display: flex;
                align-items: center;
                & > img{
                   width: 0.07rem;
                   height: 0.11rem;
                   color: #999999
                }
            }
        }
    }
</style>