<template>
  <div class="tabs" v-show="isShow">
    <ul>
      <router-link
        :class="{'router-link-active': activeTab === item.cls}"
        v-for="item in navItems"
        :key="item.cls"
        :to="{name: item.cls}"
        tag="li"
        @click.native="logOut(item)"
        exact
      >
        <div>
          <img
            v-if="activeTab == item.cls"
            style="width: 20px; height: 20px;"
            :src="item.activeIcon"
          >
          <img v-else style="width: 20px; height: 20px;" :src="item.icon">
        </div>
        <div>{{item.name}}</div>
      </router-link>
    </ul>
  </div>
</template>
<script>
import shouyeIcon from  "../../static/image/tab/index.png";
import shouyeIconA from  "../../static/image/tab/indexA.png";
import brandIcon from "../../static/image/tab/brand.png"
import brandIconA from "../../static/image/tab/brandA.png"
import cartIcon from "../../static/image/tab/cart.png"
import cartIconA from "../../static/image/tab/cartA.png"
import mineIcon from "../../static/image/tab/mine.png";
import mineIconA from "../../static/image/tab/mineA.png";
export default {
  data() {
    return {
      isShow: true,
      activeTab: "home",
      navItems: [
        {
          cls: "home",
          push: "/home",
          name:"首页",
          icon: shouyeIcon,
          activeIcon: shouyeIconA
        },
        {
          cls: "brand",
          push: "/brand",
          name:"品牌",
          icon: brandIcon,
          activeIcon: brandIconA
        },
        {
          cls: "cart",
          push: "/cart",
          name: "购物车",
          icon: cartIcon,
          activeIcon: cartIconA
        },
        {
          cls: "mine",
          push: "/mine",
          name: "我的",
          icon: mineIcon,
          activeIcon: mineIconA
        }
      ]
    };
  },
  methods: {
      logOut(obj) {
      this.activeTab = obj.cls;
    
    },
  },
  mounted() {
    var address = window.location.href;
    if (address.indexOf("/brand") != -1) {
      this.activeTab = "brand";
    } else if (address.indexOf("/cart") != -1) {
      this.activeTab = "cart";
    } else if (address.indexOf("/mine") != -1) {
      this.activeTab = "mine";
    }
  }
};
</script>
<style lang="stylus" type="text/scss">
.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px #000;
  width: 100%;
  font-size: 0.12rem;
  color: #999999;
  z-index: 999;

  & > ul, & > ul > li {
    margin: 0;
    padding: 0;
  }

  ul {
    display: table;
    width: 100%;
    display: flex;

    & > li {
      flex: 1;
      text-align: center;
      text-align: center;
      display: table-cell;
      padding: 2px;
      cursor: pointer;

      > div {
        text-align: center;
      }

      &.router-link-active {
        color: #be9047;
      }
    }
  }
}
</style>