<template>
    <div>
       <div class="header">
          <img src="../../../static/image/cart/zuojiantou.png" alt="">
       </div>
       <!-- 关于会员，判断情况 -->
       <div class="vip">
          <p class="huiyuan">¥<span>600</span></p>
          <!-- 积分情况下不一样，现隐藏起来 -->
          <div class="vvip" style="display:none">
              <p >
                  积分
                  <span>600</span>
                  ／会员价¥
                  <span>300</span>
              </p>
              <p class="line">零售价¥600</p>
          </div>
       </div>
       <!-- 详情去 -->
       <div class="details">
           <p class="title">准野生灵芝袍子粉</p>
           <p class="product">产品详情</p>
           <div class="pic">
           <img src="../../../static/image/cart/2@2x.png" alt=""><img src="../../../static/image/cart/3@2x.png" alt="">
           </div>
       </div>
       <div style="height:0.49rem"></div>
       <!-- 按钮 -->
       <div class="bttom">
           <div class="icons"><img src="../../../static/image/cart/cartt.png" alt=""></div>
           <button class="join">加入购物车</button>
           <button class="buy">立即购买</button>
       </div>
    </div>
</template>
<script>
export default {
    created(){
        this.$parent.hideNav = true
    }
}
</script>
<style lang="less" scope>
.header{
    height: 3.44rem;
    background-color: red;
    background: url('../../../static/image/cart/1@2x.png') no-repeat;
    background-size: 100%;
    padding: 0.1rem 0.12rem 0 0.1rem; 
    display: flex;
    & > img{
        width: 0.28rem;
        height: 0.28rem;
    }
}
.vip{
    width: 3.75rem;
    height: 0.6rem;
    background: url('../../../static/image/cart/cart1.png') no-repeat;
    background-size: 100%;
    & > .huiyuan{
        font-size: 0.12rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        padding: 0.2rem 0.12rem;
        & > span{
        font-size: 0.26rem;
        color: #ffffff;
       }
    }
    & > .vvip{
        display: flex;
        padding-left: 0.12rem;
        flex-direction: column;
        & > p{
        font-size: 0.12rem;
        color: #ffffff;
        & > span{
            font-size: 0.26rem;
            color: #ffffff;
        }
        }
        
        & > .line{
            font-size: 0.12rem;
            color: #999999;
            text-decoration: line-through;
        }
    }
}
// 详情去
.details{
    // height: 100vh;
    background-color: #F3F4F5;
    & > .title{
        background-color: #fff;
        font-size: 0.16rem;
        color: #333333;
        padding: 0.12rem 0.12rem 0.12rem 0.12rem;
        margin-bottom: 0.1rem;
    }
    & > .product{
        background-color: #fff;
        font-size: 0.16rem;
        color: #333333;
        padding: 0.1rem 0.12rem 0.1rem 0.12rem;
    }
    & > .pic{
         & > img{
        width: 100%;
        height: 2.81rem;
    }
    }
    
}
// 按钮
.bttom{
    width: 100%;
    height: 0.49rem;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    & >.icons{
        width: 0.63rem;
        height: 0.49rem;
        display: flex;
        align-items: center;
        justify-content: center;
        & > img{
            width: 0.2rem;
            height: 0.18rem;
        }
    }
    & > .join{
        width: 1.4rem;
        height: 0.49rem;
        background:rgba(243,201,163,1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.15rem;
        color: #333333;
        border:none;
    }
    & > .buy{
        width: 1.72rem;
        height: 0.49rem;
        background:#333333;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.15rem;
        color: #ffffff;
        border:none;
    }
}
</style>

