<template>
  <div id="app">
   <Nav v-if="!hideNav"></Nav>
            <router-view></router-view>
    </div>
</template>
<script>
import Nav from './views/Tab'
export default {
  name: 'App',
    data(){
      return{
       hideNav: false,
    }
  },
  components:{Nav}
}
</script>

<style lang="less">
*{
    padding:0;
    margin:0;
  }
</style>