<template>
    <div class="box">
        <!-- 头部 -->
        <div class="title">
            <van-nav-bar title="登录" >
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
      <div class="touxiang">
          <img src="../../../static/image/logins/login.png" alt="">
      </div>
      <div class="mid">
            <van-cell-group>
                <van-field
                    v-model="username"
                    clearable
                    label="手机号"
                    right-icon="close"
                    placeholder="请输入手机号码"
                    @click-right-icon="$toast('close')"
                />

                <van-field
                    v-model="password"
                    type="password"
                    label="密码"
                    right-icon="closed-eye"
                    placeholder="请输入密码"

                />
                </van-cell-group>
         </div>
         <!--  -->
         <button class="login">登录</button>
         <!--  -->
         <div class="spans">
             <span>注册账号</span>
             <span>忘记密码</span>
         </div>

    </div>
</template>
<script>
import { Field,Icon,NavBar } from 'vant';
export default {
    components:{
        [Field.name]:Field,
        [Icon.name]:Icon,
        [NavBar.name]:NavBar
    },
    created(){
        this.$parent.hideNav = true
    }
}
</script>
<style lang="less" scope>
    .van-icon{
        font-size: 22px;
    }
    .van-hairline--bottom::after{
        border-bottom-width: 0;
    }
    .van-nav-bar{
        background: #333333;
    }
    .van-nav-bar .van-icon{
        color: #fff;
    }
    .van-nav-bar__title{
        color: #fff;
    }
    .title{
        margin-bottom: 0.36rem;
    }
    .box{
        background-color: #333333; 
        overflow: hidden;
        width :100vw;
        height:100vh;
    }
    .touxiang{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mid{
        margin-top: 0.6rem;
        margin-bottom: 0.49rem;
        background-color: #333333;
    }
    .van-field__label{
        color: #fff;
        font-size: 0.14rem;
    }
    .van-field__control{
        font-size: 0.12rem;
    }
    .van-cell{
        background-color: #333333;
        padding: 10px 40px;
    }
    .van-cell:not(:last-child)::after{
    border-bottom: 0px;
    }
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.95rem;
        height: 0.44rem;
        background:rgba(243,201,163,1);
        border-radius:0.08rem;
        font-size: 0.16rem;
        color: #fff;
        margin: 0 auto 0.13rem auto;
    }
    .spans{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 2.95rem;
        height: 0.44rem;
        margin: 0 auto;
    }
    .spans{
        & > span{
          font-size: 0.12rem;
          color: #ffffff;
        }
    }
</style>
