<template>
    <div class="box">
      <!-- 头部 -->
        <div class="title">
            <van-nav-bar left-text="返回"  left-arrow>
                <van-icon name="ellipsis" slot="right" />
            </van-nav-bar>
        </div>
        <!-- 中心 -->
        <div class="center">
         <p>重置密码</p>
         <div class="inp">
          <van-cell-group>
                <van-field
                    v-model="username"
                    clearable
                    label="手机号"
                    right-icon="close"
                    placeholder="请输入手机号码"
                    @click-right-icon="$toast('close')"
                />
                 <van-field
                    v-model="username"
                    clearable
                    label="验证码"
                    placeholder="请输入验证码"
                />
                 
                <van-field
                    v-model="password"
                    type="password"
                    label="密码"
                    right-icon="close"
                    placeholder="请输入新密码"
                />
                <van-button slot="button" type="primary" size="small">获取验证码</van-button>
                </van-cell-group>
                </div>
                 <button class="yes">确认</button>
        </div>
    </div>
</template>
<script>
import { Field,Icon,NavBar,Button } from 'vant';
export default {
    components:{
      [Field.name]:Field,
      [Icon.name]:Icon,
      [NavBar.name]:NavBar,[Button.name]:Button
    },
    created(){
        this.$parent.hideNav = true
    },
    data(){
        return{
            msgCode: "",
             btnLock : false
        }
    }
}
</script>
<style lang="less" scope>
.van-field__label{
    width: 60px;
}
.inp{
    position: relative;
    margin-bottom: 0.5rem;
}
.van-button{
 display: flex;
 justify-content: center;
 align-items: center;
 background:rgba(255,255,255,1);
 border-radius:4px;
border:1px solid rgba(51,51,51,1);
font-size: 0.12rem;
color: #333333;
display: flex;
    position: absolute;
    right: 0;
    top: 41%;
}
.van-hairline--bottom::after{
        border-bottom-width: 0;
}
.van-icon{
    font-size: 22px;
}
.van-nav-bar{
    background: #333333;
}
.van-nav-bar .van-icon{
   color: #fff;
}
.van-nav-bar__title{
    color: #fff;
}
.van-nav-bar__text{
    color: #ffffff;
}
.center{
    overflow: hidden;
    height:100vh;
    background-color: #fff;
    padding: 0.33rem 0.4rem 0 0.4rem;
}
p{
    color: #333333;
    font-size: 0.2rem;
    margin-bottom: 0.36rem;
}
.van-cell__title {
    font-size: 14px;
}
.van-field__control{
    font-size: 12px;
}
.van-cell{
    padding: 10px 0 10px 0;
    line-height: 36px;
}
.yes{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.95rem;
        height: 0.44rem;
        background:rgba(194,150,111,1);
        border-radius:0.08rem;
        font-size: 0.16rem;
        color: #fff;
        margin: 0 auto 0.13rem auto;
    }
</style>
